@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root {
    --red: #DA291C;
    --blue: #006db7;
    --white: #FFFFFF;
    --yellow: #FFD700;
    --green: #00AF4D;
    --black: #000000;
    --maxwidth: 1200px;
    --rootsize: 20px;
}

body {
    background-color: var(--yellow);
    background-image: url("images/mainbackground.png");
    font-family: 'Rubik', sans-serif;
    font-size: var(--rootsize);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

div.container {
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    background-color: var(--white);
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header a {
    width: 100%;
    max-width: 250px;
}

header a img {
    width: 100%;
    height: auto;
}

#cart {
    position: relative;
    width: 100%;
    max-width: 50px;
}

#cart .label {
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 50%;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
    position: absolute;
    top: -1.3rem;
    left: -1.3rem;
}

nav { 
    width: 100%;
    background-color: var(--red);
    display: flex;
}

nav a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 5px solid var(--red);
    display: inline-block;
    text-transform: uppercase;
    transition: ease-in-out .4s;
}

nav a:hover {
    color: var(--yellow);
    border-color: var(--yellow);
}

nav a.active{
    background-color: var(--yellow);
    color: var(--black);
    border-color: var(--black);
}

nav a.active:hover {
    color: var(--red);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
}

main h2 {
    text-transform: uppercase;
    flex-basis: 100%;
    text-align: center;
}

article.product-card {
    padding: 1rem;
    background-color: var(--black);
    border-bottom: 1rem solid var(--green);
    width: 31%;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

article.product-card img {
    width: 100%;
}

article.product-card a {
    padding-top: 0.5rem;
    color: var(--yellow);
    text-decoration: none;
}

article.product-card h3 {
    color: var(--white);
    margin: 0.2rem 0;
}

article.product-card button {
    background-color: var(--green);
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    padding: 0.5rem 1rem;
    border: none;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.price {
    color: var(--white);
}

article.product-card > * {
    display: block;
    clear: both;
}

#cart-view {
    width: 100%;
    max-width: 500px;
    background-color: var(--black);
    color: var(--white);
    position: absolute;
    right: 0;
    top: 70px;
    border-left: 0.5rem solid var(--green);
    border-bottom: 0.5rem solid var(--green);
    padding: 1rem;
    transition:  ease-in-out 0.2s;
}

#cart-view ul {
    list-style-type: none;
    padding: 0;
}

#cart-view ul li {
    border-bottom: 1px solid var(--green);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    transition:  ease-in-out 0.2s;
}

#cart-view ul li > * {
    box-sizing: border-box;
    display: inline-block;
}

button.delete {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--white);
    border: none;
}

span.price, span.quantity {
    width: 3rem;
}

span.title {
    width: calc(100% - 9rem);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
